[submodule "bitwarden-rofi"]
	path = bitwarden-rofi
	url = https://github.com/mattydebie/bitwarden-rofi
[submodule "rofi-bluetooth"]
	path = rofi-bluetooth
	url = https://github.com/nickclyde/rofi-bluetooth
